<section class="bg-active brd-side h-100 position-fixed">
    <div class="h-100 ">
        <div class="d-flex flex-column align-items-center gap-3 pt-3 h-25">
            <img src="../../../../assets/image/sidebar/PMS.svg" alt="PMS" class="w-75">
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center h-75">
            <div class="d-flex flex-column gap-4">
                <a><img src="../../../../assets/image/sidebar/control-room.svg" alt="control-room"
                        class="w-75"></a>
                <a><img src="../../../../assets/image/sidebar/dashboard.svg" alt="dashboard" class="w-75"></a>
                <a><img src="../../../../assets/image/sidebar/elements.svg" alt="elements" class="w-75"></a>
                <a><img src="../../../../assets/image/sidebar/settings.svg" alt="settings" class="w-75"></a>
                <a><img src="../../../../assets/image/sidebar/notifications.svg" alt="notifications"
                        class="w-75"></a>
            </div>
            <div>
                <a><img src="../../../../assets/image/sidebar/logout.svg" alt="PMS" class="w-75"></a>
            </div>
        </div>
    </div>
</section>