@import "../colors.scss";

.mdc-linear-progress__bar-inner{
    border-color: $main-color !important;
}
.home-content{
    margin-top: 5rem;
}

.bg-home{
    background-color: #F9F5F3;
}
.bg-section-one{
    background-color: #F4DBD4;
}
.dropdown-menu {
    width: 400px;
}


input[type="checkbox"]{
    border: 1px solid $main-color;
}
input[type="checkbox"]:checked{
    background-color: $main-color;
}
