$main-color:#FF7F5C;
$card-color:#F4DBD4;
$text-color:#3D5161;

.bg-mainColor{
    background-color: $main-color;
}
.cardColor{
    background-color: $card-color;
}
.textColor{
    background-color: $text-color;
}