<section>
    <div class="bg-white shadow p-3 rounded-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center position-relative">
                <span class="nav-section"></span>
                <img src="../../../../assets/image/navbar/gas-station-svgrepo-com (1).svg" class="ms-3"
                    alt="gas-station-svgrepo">
                <h4 class="m-2 text-uppercase">Station Name <br> Dummy</h4>
            </div>
            <div>
                <td class="nav-item dropdown">
                    <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <p class="m-0 ms-3">View Properties</p>
                        <div class="d-flex flex-column align-items-center py-2">
                            <div class="d-flex justify-content-between align-items-center p-2">
                                <div class="list-section-one">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-sales" name="total-sales"
                                            value="total-sales" class="mx-2 form-check-input">
                                        <label for="total-sales">Total Sales</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-transaction"
                                            name="total-transaction" value="total-transaction"
                                            class="mx-2 form-check-input">
                                        <label for="total-transaction">Total Transaction</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-value" name="total-value"
                                            value="total-value" class="mx-2 form-check-input">
                                        <label for="total-value">Total Value</label><br>
                                    </div>
                                </div>
                                <div class="list-section-two mx-3">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="total-transaction-hour" name="total-transaction-hour"
                                            value="total-transaction-hour" class="mx-2 form-check-input">
                                        <label for="total-transaction-hour">Max Transaction Count Per Hour</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="total-transaction-datetime"
                                            name="total-transaction-datetime" value="total-transaction-datetime"
                                            class="mx-2 form-check-input">
                                        <label for="total-transaction-datetime">Max Transaction Count
                                            date-time</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="compressor-status" name="compressor-status"
                                            value="compressor-status" class="mx-2 form-check-input">
                                        <label for="compressor-status">Compressor Status</label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </td>
            </div>
        </div>
        <div class="d-flex flex-column mt-3">
            <div class="d-flex justify-content-between gap-3">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Total Sales</span>
                    <span>62,721 m^3</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Compression State</span>
                    <span>Compression</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Max Transaction/hour</span>
                    <p>20</p>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Total Value</span>
                    <span>550 EGP</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span class="text-center">Total Transaction <br> Count</span>
                    <span>5161</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span class="text-center">Max Transaction <br> Date Time</span>
                    <span>8-1-2021 | 10:16 PM</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white shadow p-3 rounded-4 my-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center position-relative">
                <span class="nav-section"></span>
                <img src="../../../../assets/image/navbar/gas-station-svgrepo-com (1).svg" class="ms-3"
                    alt="gas-station-svgrepo">
                <h4 class="m-2 text-uppercase">Station Name <br> Dummy</h4>
            </div>
            <div>
                <td class="nav-item dropdown">
                    <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <p class="m-0 ms-3">View Properties</p>
                        <div class="d-flex flex-column align-items-center py-2">
                            <div class="d-flex justify-content-between align-items-center p-2">
                                <div class="list-section-one">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-sales" name="total-sales"
                                            value="total-sales" class="mx-2 form-check-input">
                                        <label for="total-sales">Total Sales</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-transaction"
                                            name="total-transaction" value="total-transaction"
                                            class="mx-2 form-check-input">
                                        <label for="total-transaction">Total Transaction</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-value" name="total-value"
                                            value="total-value" class="mx-2 form-check-input">
                                        <label for="total-value">Total Value</label><br>
                                    </div>
                                </div>
                                <div class="list-section-two mx-3">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="total-transaction-hour" name="total-transaction-hour"
                                            value="total-transaction-hour" class="mx-2 form-check-input">
                                        <label for="total-transaction-hour">Max Transaction Count Per Hour</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="total-transaction-datetime"
                                            name="total-transaction-datetime" value="total-transaction-datetime"
                                            class="mx-2 form-check-input">
                                        <label for="total-transaction-datetime">Max Transaction Count
                                            date-time</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="compressor-status" name="compressor-status"
                                            value="compressor-status" class="mx-2 form-check-input">
                                        <label for="compressor-status">Compressor Status</label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </td>
            </div>
        </div>
        <div class="d-flex flex-column mt-3">
            <div class="d-flex justify-content-between gap-3">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Total Sales</span>
                    <span>62,721 m^3</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Compression State</span>
                    <span>Compression</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Max Transaction/hour</span>
                    <p>20</p>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Total Value</span>
                    <span>550 EGP</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span class="text-center">Total Transaction <br> Count</span>
                    <span>5161</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span class="text-center">Max Transaction <br> Date Time</span>
                    <span>8-1-2021 | 10:16 PM</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white shadow p-3 rounded-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center position-relative">
                <span class="nav-section"></span>
                <img src="../../../../assets/image/navbar/gas-station-svgrepo-com.svg" class="ms-3"
                    alt="gas-station-svgrepo">
                <h4 class="m-2 text-uppercase">Station Name <br> Dummy</h4>
            </div>
            <div>
                <td class="nav-item dropdown">
                    <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <p class="m-0 ms-3">View Properties</p>
                        <div class="d-flex flex-column align-items-center py-2">
                            <div class="d-flex justify-content-between align-items-center p-2">
                                <div class="list-section-one">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-sales" name="total-sales"
                                            value="total-sales" class="mx-2 form-check-input">
                                        <label for="total-sales">Total Sales</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-transaction"
                                            name="total-transaction" value="total-transaction"
                                            class="mx-2 form-check-input">
                                        <label for="total-transaction">Total Transaction</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" checked="checked" id="total-value" name="total-value"
                                            value="total-value" class="mx-2 form-check-input">
                                        <label for="total-value">Total Value</label><br>
                                    </div>
                                </div>
                                <div class="list-section-two mx-3">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="total-transaction-hour" name="total-transaction-hour"
                                            value="total-transaction-hour" class="mx-2 form-check-input">
                                        <label for="total-transaction-hour">Max Transaction Count Per Hour</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="total-transaction-datetime"
                                            name="total-transaction-datetime" value="total-transaction-datetime"
                                            class="mx-2 form-check-input">
                                        <label for="total-transaction-datetime">Max Transaction Count
                                            date-time</label><br>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="compressor-status" name="compressor-status"
                                            value="compressor-status" class="mx-2 form-check-input">
                                        <label for="compressor-status">Compressor Status</label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </td>
            </div>
        </div>
        <div class="d-flex flex-column mt-3">
            <div class="d-flex justify-content-between gap-3">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Total Sales</span>
                    <span>62,721 m^3</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Compression State</span>
                    <span>Compression</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Max Transaction/hour</span>
                    <p>20</p>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span>Total Value</span>
                    <span>550 EGP</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span class="text-center">Total Transaction <br> Count</span>
                    <span>5161</span>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <span class="text-center">Max Transaction <br> Date Time</span>
                    <span>8-1-2021 | 10:16 PM</span>
                </div>
            </div>
        </div>
    </div>
</section>